---
import Hamburger from "./Hamburger.astro";
---
<span class="absolute hidden h-px w-1/6 bg-white/40 mt-12  z-50 xl:block xl:w-[23%]  ml-[124px] "></span>
<header class="flex justify-between items-center">
    <img src="./assets/shared/logo.svg" alt="Logo" />
    <Hamburger />
</header>