---
import "@fontsource/bellefair";
import '@fontsource/barlow';
import "@fontsource/barlow-condensed";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body class="flex flex-col gap-20 justify-center items-center min-h-dvh bg-404-mobile bg-cover bg-center bg-no-repeat md:bg-404-tablet 
             after:absolute after:inset-0 after:bg-gray-900/60 after:backdrop-blur-sm">
    <h1 class="font-bellefair text-lightblue text-balance text-center text-5xl z-50 px-4 md:text-8xl">PAGE NOT FOUND</h1>
    
    
    <a href="/" class="group relative min-w-60 font-barlow flex flex-wrap gap-4 pl-6 py-3 items-center text-white text-center text-2xl z-50 bg-gray-900 rounded-xl 
                       border-2 border-black hover:text-yellow-400 hover:border-white">Back to Home
        <svg class="absolute right-5 transition-all  group-hover:-translate-y-14 group-hover:translate-x-12" 
             width="36" height="36" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path d="M15.78 15.84S18.64 13 19.61 12c3.07-3 1.54-9.18 1.54-9.18S15 1.29 12 4.36C9.66 6.64 8.14 8.22 8.14 8.22S4.3 7.42 2 9.72L14.25 22c2.3-2.33 1.53-6.16 1.53-6.16zm-1.5-9a2 2 0 0 1 2.83 0 2 2 0 1 1-2.83 0zM3 21a7.81 7.81 0 0 0 5-2l-3-3c-2 1-2 5-2 5z"/>
        </svg>
    </a>

</body>
</html>