---
import "@fontsource/bellefair";
import '@fontsource/barlow';
import "@fontsource/barlow-condensed";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body class="flex flex-col gap-20 justify-center items-center min-h-dvh bg-404-mobile bg-cover bg-center bg-no-repeat md:bg-404-tablet 
             after:absolute after:inset-0 after:bg-gray-900/60 after:backdrop-blur-sm">
    <h1 class="font-bellefair text-lightblue text-balance text-center text-5xl z-50 px-4 md:text-8xl">PAGE NOT FOUND</h1>
    
    
    <a href="/" class="group relative min-w-60 font-barlow flex flex-wrap gap-4 justify-center items-center text-white text-center text-2xl z-50 bg-sky-500 px-6 py-3 rounded-xl
                       hover:text-gray-200">Back to Home
        <svg class="group-hover:absolute group-hover:top-0 group-hover:right-0" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icon-tabler-rocket" viewBox="0 0 24 24"><path stroke="none" d="M0 0h24v24H0z"/><path d="M4 13a8 8 0 0 1 7 7 6 6 0 0 0 3-5 9 9 0 0 0 6-8 3 3 0 0 0-3-3 9 9 0 0 0-8 6 6 6 0 0 0-5 3"/><path d="M7 14a6 6 0 0 0-3 6 6 6 0 0 0 6-3M14 9a1 1 0 1 0 2 0 1 1 0 1 0-2 0"/></svg>
    </a>

</body>
</html>